<app-toolbar></app-toolbar>
<app-sidebar>
    <div class="d-grid justify-content-md-end ">
		<button class="btn btn-primary" routerLink="/registrarplacas/{{id}}">Agregar</button>
	</div>
	<div class="container mt-3">
		<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg3">
			<div class="col " *ngFor="let placa of placas; let idPlaca = index">
				<!-- Placa -->
				<div class="card bg-secondary bg-gradient">
					<!-- Menu de opciones -->
					<div class="dropdown d-flex justify-content-end">
						<a	href="#" 
							class="d-flex justify-content-end text-dark text-end text-decoration-none mt-2"
							id="dropdownUser1" 
							data-bs-toggle="dropdown" 
							aria-expanded="false"
						>
							<i class="fa-solid fa-ellipsis  pt-1 px-2"></i>
						</a>
			
						<!-- Menu de editar/eliminar -->
						<ul class="dropdown-menu dropdown-menu-dark text-small" aria-labelledby="dropdownUser1">
							<li><a class="dropdown-item" [routerLink]="'//editarPlaca/'+ id + '/' + placa.codigo">Editar placa</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>							
							<li><a class="dropdown-item" href="" data-bs-toggle="modal" [attr.data-bs-target]="'#modalEliminar-'+idPlaca">Eliminar placa</a></li>						
						</ul>	
					</div>
					
					<!-- Contenido de la placa -->
					<div class="d-flex align-items-center shadow-sm p-3 bg-body w-100">
						<div class="card-body text-center">
							<h2 class="card-title">{{placa.codigo}}</h2>
						  </div>
					</div>

					<!-- Modal -->
					<div class="modal fade " [id]= "'modalEliminar-'+idPlaca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Eliminar placa</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								¿Está seguro de eliminar a {{placa.codigo}}?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarPlaca( id , placa.codigo )">Eliminar</button>
							</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="container-sm-flex mt-3 px-md-5">
		<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3 mx-md-5">
		</div>
	</div>
</app-sidebar>
