
<div class="container-fluid">
    <div class="container-fluid" >
        <div class="text-center">
            <img src="https://www.universoformulas.com/imagenes/estadistica/descriptiva/diagrama-barras.jpg" class="img-fluid" alt="aqui va el grafico">
          </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Parqueo</th>
                <th scope="col">Funcionario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora Ingreso</th>
                <th scope="col">Hora Salida</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ParqueoA</td>
                    <td>Funcionario A</td>
                    <td>Fecha A</td>
                    <td>Hora de ingreso A</td>
                    <td>Hora de ingreso A</td>
                  </tr>
            </tbody>
        </table>
    </div>>
</div>
